{{!-- <div class="card">
  <div class="card-body">
    <h4 class="card-title" style="font-family:'abel';color:#8a8a8a;text-transform:uppercase;">{{comment.name}}</h4>
    <p class="card-text" style="font-family:'Raleway';color:#666666;">{{comment.description}}</p>
  </div>

<div class="card-footer btn toolbar" role="toolbar" aria-label="Toolbar with button groups">

  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-light">
      <a href="/comment/{{comment.id}}/edit" style="color:grey;">Edit</a>
    </button>
    </div>

  <div class="btn-group" role="group" aria-label="Second group">
 <form action="/comment/{{comment.id}}?_method=DELETE" method="post" class="d-inline">
      <input type="submit" value="Delete" class="btn btn-light" style="color:grey;">
    </form>
</div>

  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-light"><a href="/" role="button" style="color:grey;">Home</button>
  </div>
  </div> --}}