<h2 class="mb-3" style="margin-top:1rem;font-family: 'Comfortaa', sans-serif;text-transform:lowercase; text-decoration:underline; color:#696868">What's On Your Mind?</h2>


<div class="card-deck mt-5">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <a href="/item/new" class="btn btn-secondary">Create New Entry</a>
    </div>
  </div>
</div>

{{#if items}}
<div class="card-deck">
  {{#each items }}
  <div class="card shadow-lg mb-5 bg-white rounded">
    <div class="card-body" style="font-family:'Raleway';color:#696868;">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
    <div class="card-footer text-muted">
      <a href="/item/{{id}}" style="font-family:'Raleway';color:#537da4;">View More</a>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

